@import "./utils/variables";
@import "./base/font";
@import "./components/btn";
@import "./layout/footer";
@import "./utils/mixins";
@import "./base/base";
@import "./utils/keyframes";

//mobile//
//Acceuil//
.logo
{
    @include flex-And-Justify;
    margin-top: 20px;
    margin-bottom: 20px;
    img {
        width: 40%;
    }
}

.localisation
{
    @include flex-Justify-Align;
    background-color:#e3e3e3;
    height: 65px;
    font-size: 18px;
    box-shadow: 0px -2px 2px darkgrey;
    p {
        margin-left: 15px;
        font-weight: bold;
    }
}
.explorer
{
    @include flex-Column-Center;
    background-color: $lightgrey;
    padding: 0 20px 85px;
    text-align: center;
    h1{
        font-size: 26px;
        padding: 0 67px;
    }
    p{
        font-size: 18px;
        padding: 0 20px;
    }
}

section{
    @include flex-Column;
    padding: 50px 28px 0;
}

.fonctionnement{
    
    .card{
    background-color: $lightgrey;
    position: relative;
    flex: none;
    &:hover{
        background-color: lighten($colour-primary, $amount: 35%);
        i{
            color: $colour-primary;
        }

    }
    .circle{
        background-color: $colour-primary;
        border-radius: 100%;
        position: absolute;
        left: -12px;
        p{
            padding: 8px;
            margin: -2px 2px;
            font-size: 15px;
            color: white;
        }
    }
    i{
        margin-left: 35px;
        font-size: 18px;
        color: grey;
    }
    p{
        margin-left: 35px;
        font-size: 18px;
        font-weight: bold;
    }
    }
}
.card{
        @include flex-And-Align;
        flex: 1;
        border-radius: 20px;
        height: 75px;
        box-shadow: 0px 2px 7px lightgrey;
        margin-bottom: 25px;
}


.restaurant{
    background-color: $lightgrey;
    a{
        width: 100%;
        @include flex-And-Justify;
        height: 280px;
        margin-bottom: 30px;
    }
    .card{
        background-color: white;
        flex-direction: column;
        position: relative;
        height: 285px; 
        img{
            height: 70%;
            border-radius: 21px 21px 0 0;
        }
        .nouveau{
            background-color: $colour-tertiary;
            width: 83px;
            font-size: 14px;
            position: absolute;
            top: 15px;
            right: 15px;
            p{
                margin: 0;
                padding: 6px;
                font-weight: bold;
               @include flex-And-Justify;
                color: green;
            }
        }
        .info{
            @include flex-And-Align;
            justify-content: space-between;
            width: 90%;
            color: black;
        }
            .nom{
                height: 79px;
                h4{
                    margin: 15px 0 2px;
                    font-size: 20px;
                }
                p{
                    margin: 0;
                }
            }
    }
}
.fa-regular, .far {
    font-weight: 400;
    font-size: 25px;
}

//Restaurant//

.head {
    @include flex-Justify-Align;
    button{
        border: 0;
        background-color: white;
        background: none;
        color: black;
        padding: 0;
        box-shadow: 0 0;
    }
}
.image_menu{
    height: 400px;
}
.menu{
    position: relative;
    margin-top: -60px;
    z-index: 1;
    padding: 28px;
    border-radius: 40px 40px 0px 0px;
    background-color: $lightgrey;
    @include flex-Column;
    h5{
        font-size: 15px;
        font-weight: 400;
        &::after{
            border-bottom: solid 3px;
            width: 37px;
            border-color: $colour-tertiary;
            display: block;
            content: "";
        }
    }
    .card{
        background-color: white;
        @include flex-Column;
        padding: 10px 18px 0;
    }
        .choix{
            width: 100%;
            h4{
                margin: 5px 0px 10px 0px;
            }
            p{
                margin: 0;
            }
            .precision{
                display: flex;
                justify-content: space-between;
            }
        }
}
.title{
       @include flex-And-Align;
        justify-content: space-between;
}
.menu{
    animation: menu 2s;
    transform-origin: top;
}



//Desktop//

@media (min-width: 992px){

//acceuil//
 
.head{
.logo{
    width: 40%;
}
}
.logo{
    img{
        width: auto;
    }
}
.cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .card{
            width: 30%;
        }
    }
    .restaurant{
        a{
            width: 30%;
        }
    }
//Restaurant//
.flex_menu{
    display: flex;
    justify-content: space-between;
    .cards_menu{
        width: 30%;
    }
}
}