//Restaurant//

.head {
    @include flex-Justify-Align;
    button{
        border: 0;
        background-color: white;
        background: none;
        color: black;
        padding: 0;
        box-shadow: 0 0;
    }
}
.image_menu{
    height: 400px;
}
.menu{
    position: relative;
    margin-top: -60px;
    z-index: 1;
    padding: 28px;
    border-radius: 40px 40px 0px 0px;
    background-color: $lightgrey;
    @include flex-Column;
    h5{
        font-size: 15px;
        font-weight: 400;
        &::after{
            border-bottom: solid 3px;
            width: 37px;
            border-color: $colour-tertiary;
            display: block;
            content: "";
        }
    }
    .card{
        background-color: white;
        display: flex;
        position: relative;
        overflow: hidden;
    }
        .choix{
            width: 100%;
            padding: 10px 18px 10px;
            h4{
                margin: 5px 0px 10px 0px;
            }
            p{
                margin: 0;
            }
            .precision{
                display: flex;
                justify-content: space-between;
            }
        }
}
.title{
       @include flex-And-Align;
        justify-content: space-between;
}
.precision{
    p{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 85%;
    }
    span{
        width: 10%;
    }
}
.checked{
    display: flex;
    position: absolute;
}

//Desktop//

@media (min-width: 992px){
    .flex_menu{
        display: flex;
        justify-content: space-between;
        .cards_menu{
            width: 30%;
        }
    }
    }