/* Police Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
/* Police Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "roboto";
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

@keyframes menu {
  from {
    opacity: 0;
    transform: translateY(7%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes check {
  0% {
    transform: scaleX(0.2);
    transform-origin: right;
  }
  50% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0.2);
    transform-origin: right;
  }
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes price {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-70%);
  }
}
@keyframes heart {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    background: linear-gradient(-20deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    background: linear-gradient(-20deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
.cards_menu:nth-of-type(1) {
  animation: menu 800ms 600ms both;
}

.cards_menu:nth-of-type(2) {
  animation: menu 800ms 1200ms both;
}

.cards_menu:nth-of-type(3) {
  animation: menu 800ms 1800ms both;
}

.card:hover .checked {
  transition: all 0.5s ease-in-out;
  left: 82%;
}
.card:hover .checked i {
  transition: all 0.5s ease-in-out;
  transform: rotate(360deg);
}
.card:hover span {
  transform: translateX(-60px);
  transition: all 0.7s;
}

.checked {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  width: 80px;
  height: 100%;
  align-items: center;
  border-radius: 0 20px 20px 0;
  font-size: 17px;
  color: white;
  left: 101%;
}

.h:hover .fa-heart {
  animation: heart 0.5s forwards;
  font-weight: bold;
  background: linear-gradient(-20deg, #9356DC, #FF79DA);
}

/* forme generale du button*/
button {
  padding: 20px 35px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  background: linear-gradient(-20deg, #9356DC, #FF79DA);
  color: white;
  font-weight: bold;
  box-shadow: 0px 2px 7px grey;
}

/* button menu restaurant*/
.button {
  display: flex;
  justify-content: center;
}
.button button {
  width: 60%;
}

/*button menu restaurant pour desktop*/
@media (min-width: 992px) {
  .button button {
    width: 20%;
    height: 70px;
  }
}
.logo {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo img {
  width: 40%;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
  height: 65px;
  font-size: 18px;
  box-shadow: 0px -2px 2px darkgrey;
}
.localisation p {
  margin-left: 15px;
  font-weight: bold;
}

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0deg, 14%, 97%);
  padding: 0 20px 85px;
  text-align: center;
}
.explorer h1 {
  font-size: 26px;
  padding: 0 67px;
}
.explorer p {
  font-size: 18px;
  padding: 0 20px;
}

section {
  display: flex;
  flex-direction: column;
  padding: 50px 28px 0;
}

.fonctionnement .card {
  background-color: hsl(0deg, 14%, 97%);
  position: relative;
  flex: none;
}
.fonctionnement .card:hover {
  background-color: #f2eafb;
  box-shadow: 0px 2px 7px #878787;
}
.fonctionnement .card:hover i {
  color: #9356DC;
}
.fonctionnement .card .circle {
  background-color: #9356DC;
  border-radius: 100%;
  position: absolute;
  left: -12px;
}
.fonctionnement .card .circle p {
  padding: 8px;
  margin: -2px 2px;
  font-size: 15px;
  color: white;
}
.fonctionnement .card i {
  margin-left: 35px;
  font-size: 18px;
  color: grey;
}
.fonctionnement .card p {
  margin-left: 35px;
  font-size: 18px;
  font-weight: bold;
}

.card {
  display: flex;
  align-items: center;
  flex: 1;
  border-radius: 20px;
  height: 75px;
  box-shadow: 0px 2px 7px lightgrey;
  margin-bottom: 25px;
}

.restaurant {
  background-color: hsl(0deg, 14%, 97%);
}
.restaurant a {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 280px;
  margin-bottom: 30px;
}
.restaurant .card {
  background-color: white;
  flex-direction: column;
  position: relative;
  height: 285px;
}
.restaurant .card img {
  height: 70%;
  border-radius: 21px 21px 0 0;
}
.restaurant .card .nouveau {
  background-color: #99E2D0;
  width: 83px;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.restaurant .card .nouveau p {
  margin: 0;
  padding: 6px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  color: green;
}
.restaurant .card .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  color: black;
}
.restaurant .card .nom {
  height: 79px;
}
.restaurant .card .nom h4 {
  margin: 15px 0 2px;
  font-size: 20px;
}
.restaurant .card .nom p {
  margin: 0;
}

.fa-regular, .far {
  font-weight: 400;
  font-size: 25px;
}

@media (min-width: 992px) {
  .head .logo {
    width: 40%;
  }
  .logo img {
    width: auto;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cards .card {
    width: 30%;
  }
  .restaurant a {
    width: 30%;
  }
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head button {
  border: 0;
  background-color: white;
  background: none;
  color: black;
  padding: 0;
  box-shadow: 0 0;
}

.image_menu {
  height: 400px;
}

.menu {
  position: relative;
  margin-top: -60px;
  z-index: 1;
  padding: 28px;
  border-radius: 40px 40px 0px 0px;
  background-color: hsl(0deg, 14%, 97%);
  display: flex;
  flex-direction: column;
}
.menu h5 {
  font-size: 15px;
  font-weight: 400;
}
.menu h5::after {
  border-bottom: solid 3px;
  width: 37px;
  border-color: #99E2D0;
  display: block;
  content: "";
}
.menu .card {
  background-color: white;
  display: flex;
  position: relative;
  overflow: hidden;
}
.menu .choix {
  width: 100%;
  padding: 10px 18px 10px;
}
.menu .choix h4 {
  margin: 5px 0px 10px 0px;
}
.menu .choix p {
  margin: 0;
}
.menu .choix .precision {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.precision p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
}
.precision span {
  width: 10%;
}

.checked {
  display: flex;
  position: absolute;
}

@media (min-width: 992px) {
  .flex_menu {
    display: flex;
    justify-content: space-between;
  }
  .flex_menu .cards_menu {
    width: 30%;
  }
}
/*footer identique sur toutes les pages*/
footer {
  height: 225px;
  font-size: 20px;
  background-color: #292929;
  color: white;
  display: flex;
  flex-direction: column;
}
footer h4 {
  margin: 0;
  padding: 20px 0 0 40px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-bottom: 5px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
