@keyframes menu{
    from{
        opacity: 0;
        transform: translateY(5%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
    
}

@keyframes check{
    from {
        transform: scaleX(0);
        transform-origin: right;
    }
    to {
        transform: scaleX(1);
        transform-origin: right;
    
    } 
}