@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @mixin flexJustifyAlign {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @mixin flexAndJustify {
    display: flex;
    justify-content: center;
  }
  @mixin flexAndAlign {
    display: flex;
    align-items: center;
  }